In [103]:
import pandas as pd

test_dataset_df = pd.read_csv(filepath_or_buffer="test_dataset_df.csv", index_col=0)
prediction_result_df = pd.read_csv(filepath_or_buffer="prediction_result.csv", index_col=0)

In [104]:
test_dataset_df

,file,split,start,stop
0,preprocessed_test data water and non_water,preprocessed_test data water and non_water_0,0.0,0.500000
1,preprocessed_test data water and non_water,preprocessed_test data water and non_water_1,0.5,1.000000
2,preprocessed_test data water and non_water,preprocessed_test data water and non_water_2,1.0,1.500000
3,preprocessed_test data water and non_water,preprocessed_test data water and non_water_3,1.5,2.000000
4,preprocessed_test data water and non_water,preprocessed_test data water and non_water_4,2.0,2.500000
...,...,...,...,...
67,preprocessed_test data water and non_water,preprocessed_test data water and non_water_67,33.5,34.000000
68,preprocessed_test data water and non_water,preprocessed_test data water and non_water_68,34.0,34.500000
69,preprocessed_test data water and non_water,preprocessed_test data water and non_water_69,34.5,35.000000
70,preprocessed_test data water and non_water,preprocessed_test data water and non_water_70,35.0,35.500000
71,preprocessed_test data water and non_water,preprocessed_test data water and non_water_71,35.5,35.503312

In [105]:
prediction_result_df

                                            split  water
0    preprocessed_test data water and non_water_0      0
1    preprocessed_test data water and non_water_1      0
2   preprocessed_test data water and non_water_10      1
3   preprocessed_test data water and non_water_11      0
4   preprocessed_test data water and non_water_12      0
..                                            ...    ...
67   preprocessed_test data water and non_water_7      1
68  preprocessed_test data water and non_water_70      0
69  preprocessed_test data water and non_water_71      0
70   preprocessed_test data water and non_water_8      1
71   preprocessed_test data water and non_water_9      1

[72 rows x 2 columns]

In [106]:
result_join_df = test_dataset_df.merge(prediction_result_df, on='split', how='left').drop(['split'], axis=1)
result_join_df = result_join_df.sort_values(['file', 'start'], ascending=[True, True])
print(index)
result_join_df.head(10)

71

                                         file  start  stop  water
0  preprocessed_test data water and non_water    0.0   0.5      0
1  preprocessed_test data water and non_water    0.5   1.0      0
2  preprocessed_test data water and non_water    1.0   1.5      0
3  preprocessed_test data water and non_water    1.5   2.0      0
4  preprocessed_test data water and non_water    2.0   2.5      0
5  preprocessed_test data water and non_water    2.5   3.0      0
6  preprocessed_test data water and non_water    3.0   3.5      1
7  preprocessed_test data water and non_water    3.5   4.0      1
8  preprocessed_test data water and non_water    4.0   4.5      1
9  preprocessed_test data water and non_water    4.5   5.0      1

In [107]:
# result_join_df = pd.read_csv(filepath_or_buffer="time stamp.csv", index_col=0).reset_index() # just for testing

category_dict = {'category': []}

category_count = 0
category_current = -1
file_current = ""

for index, row in result_join_df.iterrows():
    if (category_current != row['water']) or (file_current != row['file']):
        category_count += 1
        category_current = row['water']
        file_current = row['file']
    category_dict['category'].append(category_count)
    
result_join_df = result_join_df.join(pd.DataFrame.from_dict(category_dict))
result_join_df.head(40)

                                          file  start  stop  water  category
0   preprocessed_test data water and non_water    0.0   0.5      0         1
1   preprocessed_test data water and non_water    0.5   1.0      0         1
2   preprocessed_test data water and non_water    1.0   1.5      0         1
3   preprocessed_test data water and non_water    1.5   2.0      0         1
4   preprocessed_test data water and non_water    2.0   2.5      0         1
5   preprocessed_test data water and non_water    2.5   3.0      0         1
6   preprocessed_test data water and non_water    3.0   3.5      1         2
7   preprocessed_test data water and non_water    3.5   4.0      1         2
8   preprocessed_test data water and non_water    4.0   4.5      1         2
9   preprocessed_test data water and non_water    4.5   5.0      1         2
10  preprocessed_test data water and non_water    5.0   5.5      1         2
11  preprocessed_test data water and non_water    5.5   6.0      0         3
12  preprocessed_test data water and non_water    6.0   6.5      0         3
13  preprocessed_test data water and non_water    6.5   7.0      1         4
14  preprocessed_test data water and non_water    7.0   7.5      1         4
15  preprocessed_test data water and non_water    7.5   8.0      1         4
16  preprocessed_test data water and non_water    8.0   8.5      1         4
17  preprocessed_test data water and non_water    8.5   9.0      1         4
18  preprocessed_test data water and non_water    9.0   9.5      1         4
19  preprocessed_test data water and non_water    9.5  10.0      0         5
20  preprocessed_test data water and non_water   10.0  10.5      0         5
21  preprocessed_test data water and non_water   10.5  11.0      0         5
22  preprocessed_test data water and non_water   11.0  11.5      0         5
23  preprocessed_test data water and non_water   11.5  12.0      0         5
24  preprocessed_test data water and non_water   12.0  12.5      0         5
25  preprocessed_test data water and non_water   12.5  13.0      0         5
26  preprocessed_test data water and non_water   13.0  13.5      0         5
27  preprocessed_test data water and non_water   13.5  14.0      0         5
28  preprocessed_test data water and non_water   14.0  14.5      0         5
29  preprocessed_test data water and non_water   14.5  15.0      0         5
30  preprocessed_test data water and non_water   15.0  15.5      0         5
31  preprocessed_test data water and non_water   15.5  16.0      0         5
32  preprocessed_test data water and non_water   16.0  16.5      0         5
33  preprocessed_test data water and non_water   16.5  17.0      0         5
34  preprocessed_test data water and non_water   17.0  17.5      0         5
35  preprocessed_test data water and non_water   17.5  18.0      0         5
36  preprocessed_test data water and non_water   18.0  18.5      1         6
37  preprocessed_test data water and non_water   18.5  19.0      1         6
38  preprocessed_test data water and non_water   19.0  19.5      1         6
39  preprocessed_test data water and non_water   19.5  20.0      1         6

In [108]:
final_df = result_join_df.groupby('category').agg(file=('file', 'max'), start=('start', 'min'), stop=('stop', 'max'), water=('water', 'min')).reset_index().drop(columns = ['category'], axis = 1)
final_df.head(40)

                                          file  start       stop  water
0   preprocessed_test data water and non_water    0.0   3.000000      0
1   preprocessed_test data water and non_water    3.0   5.500000      1
2   preprocessed_test data water and non_water    5.5   6.500000      0
3   preprocessed_test data water and non_water    6.5   9.500000      1
4   preprocessed_test data water and non_water    9.5  18.000000      0
5   preprocessed_test data water and non_water   18.0  20.000000      1
6   preprocessed_test data water and non_water   20.0  20.500000      0
7   preprocessed_test data water and non_water   20.5  23.000000      1
8   preprocessed_test data water and non_water   23.0  24.500000      0
9   preprocessed_test data water and non_water   24.5  26.000000      1
10  preprocessed_test data water and non_water   26.0  27.500000      0
11  preprocessed_test data water and non_water   27.5  28.500000      1
12  preprocessed_test data water and non_water   28.5  29.000000      0
13  preprocessed_test data water and non_water   29.0  29.500000      1
14  preprocessed_test data water and non_water   29.5  30.000000      0
15  preprocessed_test data water and non_water   30.0  30.500000      1
16  preprocessed_test data water and non_water   30.5  31.000000      0
17  preprocessed_test data water and non_water   31.0  31.500000      1
18  preprocessed_test data water and non_water   31.5  32.000000      0
19  preprocessed_test data water and non_water   32.0  33.000000      1
20  preprocessed_test data water and non_water   33.0  35.503312      0

In [109]:
final_df.to_csv('final_result.csv')